<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jackykeke.ordermodule">

    <application
        android:name="com.jackykeke.commonbusinesslibrary.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/order_module_ic_launcher"
        android:label="@string/order_module_app_name"
        android:supportsRtl="true"
        android:theme="@style/OrderModuleAppTheme">
        <activity
            android:name="com.jackykeke.commonbusinesslibrary.base.login.LoginActivity"
            android:theme="@style/apptheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OrderModuleMainActivity"
            android:theme="@style/apptheme">

        </activity>
    </application>

</manifest>